; This is the default configuration file for Cake.
; This file was downloaded from https://github.com/cake-build/resources

[Nuget]
Source=https://www.myget.org/F/cake-tasks/api/v3/index.json;https://api.nuget.org/v3/index.json
UseInProcessClient=true
LoadDependencies=false

[Paths]
Tools=./tools/Addins
Addins=./tools/Addins
Modules=./tools/Modules

[Settings]
SkipVerification=true
